body{
     background-color: aqua;
}

.gam{
     width: 50%;
     height: 60vh;
     background-color: rgb(0, 0, 255, 0.508 );
     background: linear-gradient(180deg, red 25% ,white 25%, white 35%, blue 35% , blue 60%, white 60%, white 70%, green 70%, green 80%);
     margin: auto;
}

.fra{
    width: 50%;
    height: 60vh;
    background-color: rgb(0, 0, 255, 0.508);
    background: linear-gradient(90deg, blue 30%, white 30%,white 65%, red 65%, red 100%);
}

h1 span{
    color: red;
}